body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
    
}
p{
    text-align: center;
    color: whitesmoke;

}
.top-banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;   
}
.half-width{
    width: 100%;
    height: 100%;
    padding-top: 2%;
    text-align: center;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.donate-today p{
    text-align: center;
    color: black;
}
.text_7n{
    font-style: normal;
    font-weight: 700;
}
.text_fontSizeLarger{
    font-size: 1.6em;
    color: grey;
    
}
.layout-center{
    justify-content: center;
    text-align: center;
}
.parent-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.number-width{
    height: 50px;
    margin: 20px;
    width: 120px;
}
.orange-color{
    color: tomato;
}
input{
    border: none;
    height: 100px;
    width: 150px;
    text-align: center;
}
.donate-plan p{
    text-align: center;
    color: black;
}
.donate-area{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
#food-for-a-family{
    background-color: rgba(250, 235, 215, 0.651);
}
#shelter-for-a-family{
    background-color: rgba(127, 255, 212, 0.568);
}
#education-for-a-family{
    background-color: lavender;
}